# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.tgz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

/.gradle
/.idea
/build
todo
changelog

/common/.gradle
/common/build

/fabric/.gradle
/fabric/build
/fabric/client
/fabric/run
/fabric/server

/forge/.gradle
/forge/build
/forge/client
/forge/run
/forge/server

/neoforge/.gradle
/neoforge/build
/neoforge/client
/neoforge/run
/neoforge/server
